.ant-carousel .slick-slide {
  text-align: center;
  height: 100vh;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

.first-page {
  height: fit-content !important;
}
.menu {
  top: 50px;
  font-size: 1.3rem;
  font-family: Medium;
}
.sub-menu {
  cursor: pointer;
  color: #1569C7;
}
.header-title {
  margin-left: 5%;
  font-size: 2rem;
  font-family: Medium;
  color: #1569C7;
  cursor: pointer;
}
.second-slide {
  width: 51%;
  font-size: 1.9rem;
  margin-top: 13rem;
  color: black;
}
.menu-list {
  list-style: none;
}
.menu-list li {
  padding-top: 25px;
}
.vertical-line {
  width: 0.15rem;
  background: gray;
  height: 100%;
}
#inner-line {
  width: 100%;
  background: #1569C7;
  height: 0%;
}
.side-nav {
  position: fixed;
  top: 40% !important; 
  left: 7% !important;
  display: 'none';
}

.video-carousel {
  margin-left: -25%;
}
.home-footer {
  margin-left: -26.5%;
  margin-top: 10%;
}

.footer {
  background: #1569C7;
  max-height: 'fit-content';
  padding: 5% 5% 5% 5%;
  color: white;
}
.footer-menu {
  list-style: none;
}
.footer-head {
  font-size: 1.5rem;
  padding-bottom: 15px;
  cursor: pointer;
}
.footer-list {
  padding-top: 20px;
  cursor: pointer;
}
.app-store {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 25px;
  justify-content: center;
}
.footer-social {
  text-align: center;
}
.media {
  font-size: 2.5rem;
  padding: 0 4px 0 4px;
}
.copyright{
  width: 100%;
  text-align: center;
  padding-top: 17px;
}

.home-menu {
  font-size: 1.3rem;
  font-family: Medium;
}

.about-header {
  text-align: center;
  font-size: 4rem;
  margin: 10%;
}
.send {
  width: 40%;
}
.contact-input label {
  font-size: 1.4rem;
}
.contact-header {
  text-align: center;
  margin: 15% 0 15% 0;
  font-size: 6rem;
  color: #595959;
}
.contact-card {
  cursor: pointer;
}

.contact-card-first:hover {
  cursor: pointer;
  transform: scale(0.97)
}
.contact-card-second:hover {
  cursor: pointer;
  transform: scale(0.97)
}.contact-card-third:hover {
  cursor: pointer;
  transform: scale(0.97)
}.contact-card-forth:hover {
  cursor: pointer;
  transform: scale(0.97)
}.contact-card-fifth:hover {
  cursor: pointer;
  transform: scale(0.97)

}
.card-title {
  font-size: 1.1rem;
  color: #8c8c8c;
}
.card-mail{
  font-size: 1.4rem;
  color: #1569C7;
  margin-top: 7px;
}

.app-header {
  font-size: 1.2rem;
}
.app-icon {
  font-size: 2.5rem;

}
.footer-sub {
  text-align: center;
}
.mage-scroller {
  margin-top: 50px;
}
.header-home-menu {
  display: block;
}

.suppport-header {
  text-align: center;
  font-size: 5rem;
  margin: 10% 0 5%;
}
.search {
  padding: 10%
}
.search-cat {
  margin-bottom: 2%
}
.search-category {
  div {
    text-align: center;
    color: #595959;
    cursor: pointer;
  }
  .cat {
    border-left: solid #595959 1px;
  }
}
.question {
  margin: 5%;
  .support-block {
    cursor: pointer;
    margin-bottom: 1%;
    .title {
      color: #C0C0C0;
      font-size: 1.1rem;
    }
    .que-content {
      font-size: 1.7rem;
    }
  }
  .support-block:hover {
    transform: scale(0.95)
  }
}
.support-pag {
  text-align: center;
}
.contact-block {
  margin: 5%;
  background: #FFFAFA;
  .contact-content {
    h1 {
      font-size: 4rem;
    }
    button {
      height: 40%;
    }

    text-align: center;
    margin: 9%;
  }
}
.car-image {
  max-height: 500px;
}
.drive-img {
  color: #1890ff;
  position: absolute;
  top: 21%;
  left: 7%;
  font-size: 3rem;
  width: 56%;
  animation-name: content;
  animation-duration: 4s;
}

.drive-mid {
  margin-top: 5%;
  .drive-div {
    text-align: center;
    height: 250px;
    background: white;
    padding-top: 6%;
    p {
      font-size: 2rem
    }
    .drive-login {
      font-size: 1.5rem !important;
      width: 23%;
      height: 65px;
    }
  }
  .signup-block {
    .drive-signup {
      width: 165px;
      font-size: 1.5rem;
      height: 62px;
    }
  }
}
.how {
  margin-top: 3%;
  margin-bottom: 2%;
  .drive-how {
    text-align: center;
    font-size: 2.5rem;
  }
}
.how-step {
  padding-left: 8%;
}
.ant-steps-item-content {
  height: 90px;
}
.how-content {
  background: white;
  padding: 5%;
  h1 {
    font-size: 3rem;
  }
  p {
    font-size: 1.5rem;
    animation-name: content;
    animation-duration: 4s;
  }
}
@keyframes content {
  from{opacity: 0;}
  to{opacity: 1;}
}
.drive-step {
  margin-bottom: 5%;
}

@media only screen and (min-width: 401px) and (max-width: 1430px) {
  .second-slide {
    font-size: 1.3rem;
  }
}
@media only screen  and (max-width: 768px) {
  .second-slide {
    font-size: 1rem;
  }
  .side-nav {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer-social {
    margin-top: 10px;
  }
  .img-carousel {
    display: none;
  }
  .home-menu {
    text-align: center;
  }
  .index-content {
    top: -200px;
  }
  .video-carl {
    height: 80%;
  }
  .video-carousel {
    margin-left: 1%;
  }
  .home-footer {
    margin-left: 0%;
  }
  .mobile-menu-icon {
    text-align: right;
  }
  .menu-icon {
    cursor: pointer;
  }
  .mage-scroller {
    margin-top: 0% !important;
  }
  .header-home-menu {
    display: none;
  }
  .non-header-home-menu {
    display: block;
  }
  .contact-content {
    h1 {
      font-size: 2rem;
    }
    // button {
    //   height: 40%;
    // }

    // text-align: center;
    // margin: 9%;
  }

}

@media only screen and (max-width: 576px) {
  .footer-social {
    margin-left: 8%;
  }
}